In [15]:
import os
import re

from estnltk import EnvelopingBaseSpan
from estnltk import Text, Layer, Annotation, EnvelopingSpan, Span
from estnltk.converters import json_to_text
from estnltk.layer_operations import extract_sections

In [126]:
file = "P2rnu_Tori_Tori_id22633_1866a"
#
#Harju_Keila_Saue_id13436_1885a
with open("vallakohus_esimene/" + str(file) + ".txt", "r", encoding="utf-8") as txt, open("vallakohus_esimene/" + str(file) + ".ann", "r", encoding="utf-8") as ann:
    text = txt.read()
    ann = ann.read()
with open("vallakohtufailid_json/" + str(file) + ".json", "r", encoding="utf-8") as json:
    imported = json_to_text(json.read())

In [127]:
print(ann)

T1	Koht 25 39	Wanna Wändrast
T2	Isik 41 52	Hans oünapu
T3	Koht 70 77	Torrist
T4	Isik 79 89	Mihkel Enn
T5	Isik 91 95	Hans
T6	Isik 106 112	Mihkle
T7	Isik 184 188	Hans
T8	Isik 274 280	Mihkel
T9	Muu 330 340	Wändramees
T10	Isik 341 350	Karl Nuut
T11	Isik 364 370	Mihkle
T12	Isik 377 382	Kadri
T13	Isik 387 394	Hansoga
T14	Isik 443 449	Mihkel
T15	Isik 466 470	Hans
T16	Isik 479 485	Mihkle
T17	Isik 500 506	mihkel
T18	Isik 511 515	Simo
T19	Isik 550 556	mihkel
T20	Isik 624 629	Kadri
T21	Isik 738 742	siim
T22	Isik 763 769	Mihkel
T23	Muu 909 919	Wändramees
T24	Isik 919 923	Hans

In [128]:
imported.gold_ner

Layer(name='gold_ner', attributes=('nertag',), spans=SL[Span(['Ette olli '], [{'nertag': 'MISC'}]),
Span(['Wanna', 'Wändrast'], [{'nertag': 'LOC'}]),
Span(['Hans', 'oünapu'], [{'nertag': 'PER'}]),
Span(['Torrist'], [{'nertag': 'LOC'}]),
Span(['Mihkel', 'Enn'], [{'nertag': 'PER'}]),
Span(['Hans'], [{'nertag': 'PER'}]),
Span(['Mihkle'], [{'nertag': 'PER'}]),
Span(['Hans'], [{'nertag': 'PER'}]),
Span(['Mihkel'], [{'nertag': 'PER'}]),
Span(['Wändramees'], [{'nertag': 'MISC'}]),
Span(['Karl', 'Nuut'], [{'nertag': 'PER'}]),
Span(['Mihkle'], [{'nertag': 'PER'}]),
Span(['Kadri'], [{'nertag': 'PER'}]),
Span(['Hansoga'], [{'nertag': 'PER'}]),
Span(['Mihkel'], [{'nertag': 'PER'}]),
Span(['Hans'], [{'nertag': 'PER'}]),
Span(['Mihkle'], [{'nertag': 'PER'}]),
Span(['mihkel'], [{'nertag': 'PER'}]),
Span(['Simo'], [{'nertag': 'PER'}]),
Span(['mihkel'], [{'nertag': 'PER'}]),
Span(['Kadri'], [{'nertag': 'PER'}]),
Span(['siim'], [{'nertag': 'PER'}]),
Span(['Mihkel'], [{'nertag': 'PER'}])])

In [15]:
imported.text

'\nPeawanem: A Pechmann, kõrwamehed J Pechmann J Poomann\n\nEtte astus Aesmalt Ewa Kriiman ja kaebas et Liisu Reinwaldt on teda peksnud. L Reinwaldt on oma lehma tema ohra ääre heinamaale köide pannud, ja kui ta seda L. Reinwaldile on ütlenud on see teda 2 korda selga ja 1 kord wastu silmi, kisa peale tulnud tema tüttar appi seegi on L. R. käest wastu silmi 2 korda lüüa saanud. Ta silmad on lõhki olnud. Siis on E. K. tüttar L. R. otseti maha löönud.\n\nII. Ette sai kutsutud Liisu Reinwaldt ja küsitud kas see kaebtus tõsi on. Ta ajas seda küll esiti waleks, aga pärast jälle tõsi olema et ta on löönud.\n\nKohus mõistis: Liisu Reinwaldt maksab 1 rubla trahwi et ta kohtu kulli teutas, 1 rubla et ta kohtu ees nii häbemata oli, 1 rubla et ta teist peksis ja 50 kop. et tea oma lehma teise heinamaale köide wiis. Ewa Kriimanni tüttar maksab 50 kop et ta L. Reinwaldi maha lõi.\n\nSellega oli Lõppetud,\n\nPeawanem A Pechmann, kõrwamehed J Pechmann J Poomann\n\nKirjutaja J. Jürgensohn\n\n\n'