In [110]:
import os
import re

from estnltk import EnvelopingBaseSpan
from estnltk import Text, Layer, Annotation, EnvelopingSpan, Span
from estnltk.converters import json_to_text

In [111]:
file = "Harju_Hageri_Kohila_id10509_1871a"

with open("vallakohus_esimene\\" + str(file) + ".txt", "r", encoding="utf-8") as txt, open("vallakohus_esimene\\" + str(file) + ".ann", "r", encoding="utf-8") as ann:
    text = txt.read()
    ann = ann.read()
with open("vallakohtufailid_json\\" + str(file) + ".json", "r", encoding="utf-8") as json:
    imported = json_to_text(json.read())

In [112]:
print(ann)

T1	Isik 88 102	Tõnnis Neidman
T2	Isik 190 204	Johan Neufeldt
T3	Isik 257 271	Johan Neufeldt
T4	Isik 404 416	Jaan Kaldale
T5	Isik 438 451	Johan Jakobus
T6	Isik 503 513	Jaan Kalda
T7	Isik 790 804	Johan Neufeldi
T9	Isik 1064 1074	Jaan Kalda
T10	Isik 1168 1182	Johan Neufeldt
T11	Isik 1366 1381	Johhan Neufeldt
T12	Isik 1399 1411	Jaan Kaldale
T13	Isik 1453 1463	Jaan Kalda
T14	Isik 837 847	Johan Trou

In [113]:
imported.gold_ner

Layer(name='gold_ner', attributes=('nertag',), spans=SL[Span(['Tõnnis', 'Neidman'], [{'nertag': 'PER'}]),
Span(['Johan', 'Neufeldt'], [{'nertag': 'PER'}]),
Span(['Johan', 'Neufeldt'], [{'nertag': 'PER'}]),
Span(['Jaan', 'Kaldale'], [{'nertag': 'PER'}]),
Span(['Johan', 'Jakobus'], [{'nertag': 'PER'}]),
Span(['Jaan', 'Kalda'], [{'nertag': 'PER'}]),
Span(['Johan', 'Neufeldi'], [{'nertag': 'PER'}]),
Span(['Johhan', 'Neufeldt'], [{'nertag': 'PER'}])])