In [1]:
import os
import re

from estnltk import EnvelopingBaseSpan
from estnltk import Text, Layer, Annotation, EnvelopingSpan, Span
from estnltk.converters import json_to_text

In [62]:
file = "J2rva_Ambla_Ambla_id6188_1889a"

with open("vallakohus_esimene/" + str(file) + ".txt", "r", encoding="utf-8") as txt, open("vallakohus_esimene/" + str(file) + ".ann", "r", encoding="utf-8") as ann:
    text = txt.read()
    ann = ann.read()
with open("vallakohtufailid_json/" + str(file) + ".json", "r", encoding="utf-8") as json:
    imported = json_to_text(json.read())

In [63]:
print(ann)

T1	Isik 10 26	Aabram Blumfeldt
T2	Isik 26 39	Juhan Keeroja
T3	Koht 46 52	Tapalt
T4	Koht 58 65	Jootmal
T6	Isik 290 295	Juhan
T7	Isik 330 343	Juhan Keeroja
T8	Isik 366 374	Aabramil
T9	Isik 426 438	Hans Pukspuu
T10	Isik 475 483	Aabramil
T11	Isik 562 574	Hans Pukspuu
T12	Isik 624 641	Aabram Blumfeldti
T13	Isik 679 687	Aabramil
T14	Isik 802 808	Aabram
T15	Isik 1040 1054	Hans Peips'ile
T16	Isik 1107 1113	Aabram
T17	Isik 1121 1126	Hansu
T18	Isik 1159 1173	Juhan Katschil
T19	Isik 1173 1180	Aabrami
T20	Isik 1210 1218	Aabramil
T21	Isik 1268 1285	Aabram Blumfeldti
T22	Isik 1361 1370	Aabramile
T23	Isik 1477 1492	Kustas Böttcher
T24	Isik 1510 1525	Joosep Seppmann
T25	Isik 1530 1540	Hans Peips
T26	Isik 1601 1610	Aabramile
T27	Org 992 1010	Kuru koguk. kohtus
T5	KO_koht 65 75	Kensa pere

In [64]:
imported.gold_ner

Layer(name='gold_ner', attributes=('nertag',), spans=SL[Span(['Aabram', 'BlumfeldtJuhan'], [{'nertag': 'PER'}]),
Span(['Tapalt'], [{'nertag': 'LOC'}]),
Span(['JootmalKensa'], [{'nertag': 'LOC'}]),
Span(['Juhan'], [{'nertag': 'PER'}]),
Span(['Juhan', 'Keeroja'], [{'nertag': 'PER'}]),
Span(['Aabramil'], [{'nertag': 'PER'}]),
Span(['Hans', 'Pukspuu'], [{'nertag': 'PER'}]),
Span(['Aabramil'], [{'nertag': 'PER'}]),
Span(['Hans', 'Pukspuu'], [{'nertag': 'PER'}]),
Span(['Aabram', 'Blumfeldti'], [{'nertag': 'PER'}]),
Span(['Aabramil'], [{'nertag': 'PER'}]),
Span(['Aabram'], [{'nertag': 'PER'}]),
Span(['Kuru', 'koguk', '.'], [{'nertag': 'ORG'}]),
Span(['Hans', "Peips'ile"], [{'nertag': 'PER'}]),
Span(['Aabram'], [{'nertag': 'PER'}]),
Span(['Hansu'], [{'nertag': 'PER'}]),
Span(['Juhan', 'KatschilAabrami'], [{'nertag': 'PER'}]),
Span(['Aabramil'], [{'nertag': 'PER'}]),
Span(['Aabram', 'Blumfeldti'], [{'nertag': 'PER'}]),
Span(['Aabramile'], [{'nertag': 'PER'}]),
Span(['Kustas', 'Böttcher'], [{'nertag': 'PER'}]),
Span(['Joosep', 'Seppmann'], [{'nertag': 'PER'}]),
Span(['Hans', 'Peips'], [{'nertag': 'PER'}]),
Span(['Aabramile'], [{'nertag': 'PER'}])])

In [40]:
imported.text

'\nTuli ette Jakob Punson ja kaebas: tema olnud 2 aasta eest Johan Kiltre juures teenimas ja on kaup olnud, et kaebataw tema eest peab pearaha maksma, mis see aga maksmata on jätnud ning nõuab, et see seda nüüd ära peab maksma.\n\nKohan Kilter kaebtuse üle küsitud ütles wälja, et tema kaibaja eest mitte pääraha maksa ei ole lubanud.\n\nMöistus: Johan Kilter peab Jakob Punsoni eest maksmata jäetud pearaha 4 rubl. 80 kop. 8 pääwa sees walla walitsuse kätte ära maksma.\n\nPeter Kripson XXX Peter Hendrikson XXX  Kusta Iwanthal XXX  Kotta Wossmann XXX  Peter Pedoson XXX\n\nMöistus sai kohtukäijatele T.S.R. pärra a. 1860. §772 - 774 kuulutud ja olid kohtukäijad sellega rahul.\n\n\n'