In [1]:
import os
import json
import pandas as pd
import numpy as np
from modules.extract_results import display_results_by_subdistribution, display_results_by_named_entity, \
                                    display_confusion_matrix, extract_results_to_txt_file

In [2]:
def get_results_from_directories(directories):
    all_results = dict()
    for directory in directories:
        with open(os.path.join('models', directory, 'results.txt')) as file:
            results_json = json.loads(file.read())
        by_subdist, by_ne = display_results_by_subdistribution(results_json), display_results_by_named_entity(results_json)
        all_results[directory] = (by_subdist, by_ne)
        
    return all_results

In [ ]:
totals_by_subdistribution = {}
totals_by_named_entity = {}

model = os.path.join('model_gaz_loc_k2sitsi')

by_subdistribution, by_named_entity = get_results_from_directory(model)
totals_by_subdistribution[model] = by_subdistribution
totals_by_named_entity[model] = by_named_entity

Define directories to get results from:

In [19]:
all_results = get_results_from_directories(['model_gaz_loc',\
                                            'model_gaz_loc_variants',\
                                            'model_gaz_loc_k2sitsi',\
                                            'model_gaz_loc_variants_k2sitsi'])

for directory in all_results:
    print(directory)
    df = pd.DataFrame(all_results[directory][0])
    display(df)
        
    df = pd.DataFrame(all_results[directory][1]['results'].items())
    df.columns = ['Label value', 'Score']
    display(df)
    print('\n')

model_gaz_loc

              Total
Precision  0.849723
Recall     0.787655
F1-score   0.817513

          Label value     Score
0       ORG_precision  0.451613
1          ORG_recall  0.424242
2         ORG_f1score  0.437500
3       PER_precision  0.904134
4          PER_recall  0.873126
5         PER_f1score  0.888359
6      MISC_precision  0.263158
7         MISC_recall  0.178571
8        MISC_f1score  0.212766
9       LOC_precision  0.352941
10         LOC_recall  0.217270
11        LOC_f1score  0.268966
12  LOC_ORG_precision  0.653566
13     LOC_ORG_recall  0.536440
14    LOC_ORG_f1score  0.589239

model_gaz_loc_variants

              Total
Precision  0.853579
Recall     0.790069
F1-score   0.820597

          Label value     Score
0       ORG_precision  0.442623
1          ORG_recall  0.409091
2         ORG_f1score  0.425197
3       PER_precision  0.906832
4          PER_recall  0.875562
5         PER_f1score  0.890923
6      MISC_precision  0.294118
7         MISC_recall  0.178571
8        MISC_f1score  0.222222
9       LOC_precision  0.385321
10         LOC_recall  0.233983
11        LOC_f1score  0.291161
12  LOC_ORG_precision  0.652555
13     LOC_ORG_recall  0.534050
14    LOC_ORG_f1score  0.587385

model_gaz_loc_k2sitsi

              Total
Precision  0.039756
Recall     0.036372
F1-score   0.037989

          Label value     Score
0       ORG_precision  0.031746
1          ORG_recall  0.030303
2         ORG_f1score  0.031008
3       PER_precision  0.042037
4          PER_recall  0.039918
5         PER_f1score  0.040950
6      MISC_precision  0.000000
7         MISC_recall  0.000000
8        MISC_f1score  0.000000
9       LOC_precision  0.024752
10         LOC_recall  0.013928
11        LOC_f1score  0.017825
12  LOC_ORG_precision  0.029453
13     LOC_ORG_recall  0.025090
14    LOC_ORG_f1score  0.027097

model_gaz_loc_variants_k2sitsi

              Total
Precision  0.039887
Recall     0.036372
F1-score   0.038049

          Label value     Score
0       ORG_precision  0.032787
1          ORG_recall  0.030303
2         ORG_f1score  0.031496
3       PER_precision  0.042153
4          PER_recall  0.039918
5         PER_f1score  0.041005
6      MISC_precision  0.000000
7         MISC_recall  0.000000
8        MISC_f1score  0.000000
9       LOC_precision  0.024752
10         LOC_recall  0.013928
11        LOC_f1score  0.017825
12  LOC_ORG_precision  0.029577
13     LOC_ORG_recall  0.025090
14    LOC_ORG_f1score  0.027149

# Total values by model:

In [ ]:
display(pd.DataFrame(totals_by_subdistribution, index=["Precision", "Recall", "F1-score"]))

# Total values by named entity:

In [ ]:
display(pd.DataFrame(totals_by_named_entity))

# Compare models:
Enter two folders with a `settings.py` file. Positive values are better.

In [ ]:
old = os.path.join('model_morph_with_lemmas_and_sentences_and_gazetteer_and_global_features',\
                   'model_gazetteer_both_lowercase_added_loc')
new = os.path.join('model_morph_with_lemmas_and_sentences_and_gazetteer_and_global_features',\
                   'model_gazetteer_both_lowercase_added_loc_and_variants')

In [ ]:
for model in [old, new]:
    try:
        by_subdistribution, by_named_entity = get_results_from_directory(model)
        totals_by_subdistribution[model] = by_subdistribution
        totals_by_named_entity[model] = by_named_entity
    except:
        continue
display(pd.DataFrame(totals_by_subdistribution, index=["Precision", "Recall", "F1-score"]))
display(pd.DataFrame(totals_by_named_entity))