In [1]:
import os
import json
import pandas as pd
import numpy as np
from modules.extract_results import display_results_by_subdistribution, display_results_by_named_entity, \
                                    display_confusion_matrix, extract_results_to_txt_file
import matplotlib.pyplot as plt

In [2]:
def format_vertical_headers(df):
    """Display a dataframe with vertical column headers"""
    styles = [dict(selector="th", props=[('width', '40px')]),
              dict(selector="th.col_heading",
                   props=[("writing-mode", "vertical-rl"),
                          ('transform', 'rotateZ(180deg)'), 
                          ('height', '290px'),
                          ('vertical-align', 'top')])]
    return (df.fillna('').style.set_table_styles(styles))

### Folders for models:

The models in the `models` variable use these taggers:
1. `model_default` uses NerMorphFeatureTagger, NerLocalFeatureTagger, NerSentenceFeatureTagger, NerGazetteerFeatureTagger and NerGlobalContextFeatureTagger.
2. `model_local_features_without_morph` uses NerEmptyFeatureTagger and NerLocalFeatureWithoutMorphTagger.
3. `model_morph_without_lemmas` uses NerEmptyFeatureTagger, NerLocalFeatureWithoutMorphTagger and NerMorphNoLemmasFeatureTagger.
4. `model_morph_with_lemmas` uses NerEmptyFeatureTagger, NerLocalFeatureWithoutMorphTagger and NerBasicMorphFeatureTagger.
5. `model_morph_with_lemmas_and_sentences` uses NerEmptyFeatureTagger, NerLocalFeatureWithoutMorphTagger, NerBasicMorphFeatureTagger and fex.NerSentenceFeatureTagger.
6. `model_morph_with_lemmas_and_sentences_and_gazzetteer` uses NerEmptyFeatureTagger, NerLocalFeatureWithoutMorphTagger, NerBasicMorphFeatureTagger, fex.NerSentenceFeatureTagger and fex.NerGazetteerFeatureTagger.
7. `model_morph_with_lemmas_and_sentences_and_gazzetteer_and_global_features` uses NerEmptyFeatureTagger, NerLocalFeatureWithoutMorphTagger, NerBasicMorphFeatureTagger, fex.NerSentenceFeatureTagger, fex.NerGazetteerFeatureTagger and fex.NerGlobalContextFeatureTagger.

In [3]:
models = ['model_default',\
          'model_local_features_without_morph',\
          'model_morph_without_lemmas',\
          'model_morph_with_lemmas',\
          'model_morph_with_lemmas_and_sentences',\
          'model_morph_with_lemmas_and_sentences_and_gazzetteer',\
          'model_morph_with_lemmas_and_sentences_and_gazzetteer_and_global_features']

### Folders for results:

Every model in the `models` variable contains folders with different results, here are the folders inside the model folders:

1. `model_initial` contains results from the initial model
2. `model_vabamorf` contains results using VabamorfCorpusTagger
3. `model_vabamorf_gazzetteer` contains results from using the "vallakohtud.csv" gazetteer
4. `model_vabamorf_gazzetteer2` contains results using the gazeetter from the .tsv file
5. `model_vabamorf_gazzetteer1and2` contains results from using both of the aforementioned gazetteers

In [4]:
model_results = ['model_initial',\
                 'model_vabamorf',\
                 'model_vabamorf_gazzetteer',\
                 'model_vabamorf_gazzetteer2',\
                 'model_vabamorf_gazzetteer1and2']

In [5]:
def get_results_from_directory(model_directory, directory_for_results):
    try:
        with open(os.path.join('models', model_directory, directory_for_results, 'results.txt')) as file:
            results_json = json.loads(file.read())
            return display_results_by_subdistribution(results_json)["Total"], display_results_by_named_entity(results_json)["Total"]
    except FileNotFoundError:
        print(f"(!) Mudelil {model_directory} puuduvad tulemused kaustas {directory_for_results}.")
        return {}, {}

In [6]:
totals_by_subdistribution = {}
totals_by_named_entity = {}

for model_directory in models:
    for m_results in model_results:
        by_subdistribution, by_named_entity = get_results_from_directory(model_directory, m_results)
        totals_by_subdistribution[model_directory + "," + str(m_results)] = by_subdistribution
        totals_by_named_entity[model_directory + "," + str(m_results)] = by_named_entity

(!) Mudelil model_local_features_without_morph puuduvad tulemused kaustas model_vabamorf_gazzetteer.
(!) Mudelil model_local_features_without_morph puuduvad tulemused kaustas model_vabamorf_gazzetteer2.
(!) Mudelil model_local_features_without_morph puuduvad tulemused kaustas model_vabamorf_gazzetteer1and2.
(!) Mudelil model_morph_without_lemmas puuduvad tulemused kaustas model_vabamorf_gazzetteer.
(!) Mudelil model_morph_without_lemmas puuduvad tulemused kaustas model_vabamorf_gazzetteer2.
(!) Mudelil model_morph_without_lemmas puuduvad tulemused kaustas model_vabamorf_gazzetteer1and2.
(!) Mudelil model_morph_with_lemmas puuduvad tulemused kaustas model_vabamorf_gazzetteer.
(!) Mudelil model_morph_with_lemmas puuduvad tulemused kaustas model_vabamorf_gazzetteer2.
(!) Mudelil model_morph_with_lemmas puuduvad tulemused kaustas model_vabamorf_gazzetteer1and2.
(!) Mudelil model_morph_with_lemmas_and_sentences puuduvad tulemused kaustas model_vabamorf_gazzetteer.
(!) Mudelil model_morph_with_lemmas_and_sentences puuduvad tulemused kaustas model_vabamorf_gazzetteer2.
(!) Mudelil model_morph_with_lemmas_and_sentences puuduvad tulemused kaustas model_vabamorf_gazzetteer1and2.

# Total values by model:

In [7]:
format_vertical_headers(pd.DataFrame(totals_by_subdistribution, index=["Precision", "Recall", "F1-score"]))

# Total values by named entity:

In [8]:
format_vertical_headers(pd.DataFrame(totals_by_named_entity))

# Compare models:
Which models would you like to compare?

In [18]:
old = 'model_default,model_initial'
new = 'model_default,model_vabamorf'

#Enter models as 'model_name,results_folder'
#E.g. model_default,model_initial

In [19]:
old_by_subdistribution = totals_by_subdistribution[old]
new_by_subdistribution = totals_by_subdistribution[new]

In [21]:
print(new_by_subdistribution - old_by_subdistribution)

Precision    0.000810
Recall       0.000472
F1-score     0.000635
Name: Total, dtype: float64

# All models:

Define the model which results you'd like to see:

In [11]:
print([model for model in models])

['model_default', 'model_local_features_without_morph', 'model_morph_without_lemmas', 'model_morph_with_lemmas', 'model_morph_with_lemmas_and_sentences', 'model_morph_with_lemmas_and_sentences_and_gazzetteer', 'model_morph_with_lemmas_and_sentences_and_gazzetteer_and_global_features']

In [12]:
print([results for results in model_results])

['model_initial', 'model_vabamorf', 'model_vabamorf_gazzetteer', 'model_vabamorf_gazzetteer2', 'model_vabamorf_gazzetteer1and2']

In [13]:
model_name = 'model_default'
results_name = 'model_vabamorf_gazzetteer'

In [14]:
with open(os.path.join('models', model_name, results_name, 'results.txt')) as file:
    results_json = json.loads(file.read())
    display(display_results_by_subdistribution(results_json))
    display(pd.DataFrame(display_results_by_named_entity(results_json)))

Alamhulk          1         2         3         4         5     Total
Precision  0.914043  0.913490  0.905759  0.882513  0.910745  0.904561
Recall     0.879867  0.885986  0.879448  0.845625  0.885053  0.874126
F1-score   0.896629  0.899528  0.892410  0.863675  0.897715  0.889083

                          1         2         3         4         5     Total
ORG_precision      0.792453  0.777778  0.823529  0.764706  0.780822  0.787858
ORG_recall         0.711864  0.742424  0.800000  0.712329  0.730769  0.739477
ORG_f1score        0.750000  0.759690  0.811594  0.737589  0.754967  0.762768
PER_precision      0.941719  0.945304  0.939057  0.910916  0.945077  0.936415
PER_recall         0.928015  0.927487  0.925231  0.905605  0.944121  0.926092
PER_f1score        0.934817  0.936311  0.932092  0.908253  0.944599  0.931214
MISC_precision     0.655172  0.894737  0.675676  0.823529  0.648649  0.739553
MISC_recall        0.463415  0.666667  0.595238  0.800000  0.600000  0.625064
MISC_f1score       0.542857  0.764045  0.632911  0.811594  0.623377  0.674957
LOC_precision      0.555556  0.592814  0.680672  0.589552  0.666667  0.617052
LOC_recall         0.364238  0.507692  0.490909  0.506410  0.459184  0.465687
LOC_f1score        0.440000  0.546961  0.570423  0.544828  0.543807  0.529204
LOC_ORG_precision  0.767196  0.758904  0.711230  0.725410  0.711905  0.734929
LOC_ORG_recall     0.688836  0.719481  0.682051  0.537178  0.621622  0.649833
LOC_ORG_f1score    0.725907  0.738667  0.696335  0.617262  0.663707  0.688376