In [1]:
import os
import re

from estnltk import EnvelopingBaseSpan
from estnltk import Text, Layer, Annotation, EnvelopingSpan, Span
from estnltk.converters import json_to_text
from estnltk.layer_operations import extract_sections

In [2]:
file = "Tartu_Laiuse_Kivij2rve_id13164_1866a"
#
#Harju_Keila_Saue_id13436_1885a
with open("vallakohus_neljas/" + str(file) + ".txt", "r", encoding="utf-8") as txt:
    text = txt.read()
with open("vallakohtufailid_json/" + str(file) + ".json", "r", encoding="utf-8") as json:
    imported = json_to_text(json.read())

In [3]:
indexes_on_line_split = re.compile(r' (\d+) (\d+;\d+ ){1,}(\d+)$')

def collect_annotations( in_f ):
    annotations = []
    split_lines_ahead = 0
    for line in in_f:
        line = line.rstrip('\n')
        items = line.split('\t')
        if split_lines_ahead > 0:
            split_lines_ahead -= 1
            last_item = annotations[-1]
            new_tuple = (last_item[0],last_item[1],last_item[2],(last_item[3]+line),last_item[4])
            annotations[-1] = new_tuple
            continue
        if len(items) == 3:
            indexes_str = items[1]
            if indexes_str.count(';') > 0:
                split_lines_ahead += indexes_str.count(';')
            indexes_str = indexes_on_line_split.sub(' \\1 \\3', indexes_str)
            tag, start, end = indexes_str.split()
            annotations.append( (tag, start, end, re.sub(r'\s\s+', r' ', items[2]).strip(), items[0]) )
    seen = set()
    removed_duplicates_annotations = []
    for a, b, c, d, e in annotations:
        if not b in seen:
            seen.add(b)
            removed_duplicates_annotations.append((a, b, c, d, e))
        else:
            for index, item in enumerate(removed_duplicates_annotations):
                if item[1] == b and item[2] > c:
                    tuple_without_n = (a, b, c, d, e)
                    item = tuple_without_n
                    removed_duplicates_annotations[index] = item
                elif item[1] == b and item[2] < c:
                    tuple_without_n = (a, b, item[2], d, e)
                    item = tuple_without_n
                    removed_duplicates_annotations[index] = item
                else:
                    continue
    
    for index, item in enumerate(removed_duplicates_annotations):
        if "\xa0" in item[3]:
            replaced = re.sub(r'\s\s+', r' ', item[3].replace(u'\xa0', u' '))
            print("replaced:",replaced)
            removed_duplicates_annotations[index] = ( item[0], item[1], item[2], replaced, item[4] )
        
    
    annotations = sorted(list(set(removed_duplicates_annotations)), key=lambda x: int(x[1]))
    return annotations

with open("vallakohus_neljas/" + str(file) + ".ann", "r", encoding="utf-8") as ann:
    ann = collect_annotations(ann)
    for annotation in ann:
        print(annotation)

('Isik', '179', '189', 'Jürri Kogi', 'T1')
('Isik', '232', '243', 'Rein Lopach', 'T2')
('Isik', '270', '282', 'Rein Wellein', 'T3')
('Isik', '307', '322', 'Josep Lorentson', 'T4')
('Isik', '366', '377', 'Karel Tächt', 'T5')
('Isik', '421', '429', 'Tiit Kuk', 'T6')
('Isik', '470', '488', 'Thomas Peterson', 'T7')
('Isik', '536', '548', 'Johann Karro', 'T8')
('Isik', '563', '573', 'Jaan Tächt', 'T9')
('Isik', '588', '599', 'Jaan Blauet', 'T10')
('Isik', '614', '626', 'Hindrik Lepp', 'T11')
('Isik', '641', '653', 'Rein Wellein', 'T12')
('Isik', '666', '676', 'Jürri Palm', 'T13')
('Isik', '689', '700', 'Karel Tächt', 'T14')
('Isik', '714', '722', 'Tiit Kuk', 'T15')
('KO_koht', '805', '811', 'Annuse', 'T16')
('Isik', '812', '820', 'Adam Puk', 'T17')
('Isik', '859', '869', 'Peter Palm', 'T18')
('Isik', '884', '893', 'Jaan Saar', 'T19')
('Isik', '976', '987', 'Mart Niggul', 'T20')
('Isik', '1008', '1019', 'Jürri Tächt', 'T21')
('Isik', '1037', '1048', 'Jürri Ustaw', 'T22')
('Isik', '1066', '1076', 'Peter Palm', 'T23')

In [4]:
imported.gold_ner

Layer(name='gold_ner', attributes=('nertag',), spans=SL[Span(['Jürri', 'Kogi'], [{'nertag': 'PER'}]),
Span(['Rein', 'Lopach'], [{'nertag': 'PER'}]),
Span(['Rein', 'Wellein'], [{'nertag': 'PER'}]),
Span(['Josep', 'Lorentson'], [{'nertag': 'PER'}]),
Span(['Karel', 'Tächt'], [{'nertag': 'PER'}]),
Span(['Tiit', 'Kuk'], [{'nertag': 'PER'}]),
Span(['Johann', 'Karro'], [{'nertag': 'PER'}]),
Span(['Jaan', 'Tächt'], [{'nertag': 'PER'}]),
Span(['Jaan', 'Blauet'], [{'nertag': 'PER'}]),
Span(['Hindrik', 'Lepp'], [{'nertag': 'PER'}]),
Span(['Rein', 'Wellein'], [{'nertag': 'PER'}]),
Span(['Jürri', 'Palm'], [{'nertag': 'PER'}]),
Span(['Karel', 'Tächt'], [{'nertag': 'PER'}]),
Span(['Tiit', 'Kuk'], [{'nertag': 'PER'}]),
Span(['Annuse'], [{'nertag': 'LOC_ORG'}]),
Span(['Adam', 'Puk'], [{'nertag': 'PER'}]),
Span(['Peter', 'Palm'], [{'nertag': 'PER'}]),
Span(['Jaan', 'Saar'], [{'nertag': 'PER'}]),
Span(['Mart', 'Niggul'], [{'nertag': 'PER'}]),
Span(['Jürri', 'Tächt'], [{'nertag': 'PER'}]),
Span(['Jürri', 'Ustaw'], [{'nertag': 'PER'}]),
Span(['Peter', 'Palm'], [{'nertag': 'PER'}])])

In [5]:
#470, 488, #458, 473
print(imported.text[:458].count("\n"))
#470 - 15 = 455
#488 - 15 = 473

15
0

In [11]:
imported.text[458:473]

'Thomas Peterson'

In [10]:
text

'\nTännasel päwal said koggokonnaliikmed koggokonna ammeti meiste wallitsemisse pärrast kokko talletud ja said siis wallitsetud ees seidjaks wallitsetud:\n\nMoisa sullaste hulgast Jürri Kogi\n\n\xa0 \xa0 \xa0 \xa0 \xa0 \xa0 \xa0 "\xa0 \xa0 \xa0 \xa0 \xa0 \xa0 \xa0 \xa0 \xa0 \xa0 \xa0 \xa0 Rein Lopach\n\nTallo sullaste hulgast Rein Wellein\n\nWabbadikkude hulgast Josep Lorentson\n\n\xa0 \xa0 \xa0 \xa0 \xa0 \xa0 "\xa0 \xa0 \xa0 \xa0 \xa0 \xa0 \xa0 \xa0 \xa0 \xa0 \xa0 \xa0 \xa0 \xa0Karel Tächt\n\n\xa0 \xa0 \xa0 \xa0 \xa0 \xa0 "\xa0 \xa0 \xa0 \xa0 \xa0 \xa0 \xa0 \xa0 \xa0 \xa0 \xa0 \xa0 \xa0 \xa0Tiit Kuk\n\n\xa0 \xa0 \xa0 \xa0 \xa0 \xa0 "\xa0 \xa0 \xa0 \xa0 \xa0 \xa0 \xa0 \xa0 \xa0 \xa0 \xa0 \xa0 \xa0 \xa0Thomas Peterson\n\nKoggokonna nõumeisteks said wallitsetud:\n\nJohann Karro perremees.\n\nJaan Tächt perremees.\n\nJaan Blauet perremees.\n\nHindrik Lepp perremees.\n\nRein Wellein sullane.\n\nJürri Palm sullane.\n\nKarel Tächt wabbadik.\n\nTiit Kuk wabbadik.\n\nWalla wannemaks wallitsesid keik walla perremehed ja nõumeiste selts Annuse\xa0Adam Puk.\n\nWalla wöölmöndrik sai wallitsetud Peter Palm. temma abbiks Jaan Saar.\n\nPalka arwas koggokond walla wannemalle 15 Rubl. hob wöölmonderile 10 Rubl.\n\nMart Niggul\xa0peakohtomees XXX\n\nJürri Tächt kohtomees XXX\n\nJürri Ustaw kohtomees XXX\n\nPeter Palm wöölmönder XXX\n\n\n'